<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Spacer</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/master.css' %}">
        <link rel="stylesheet" href="{% static 'Spacer/css/master.css' %}">
    </head>
    <body>
        <nav class="navbar navbar-expand-md mynav" role='navigation' id="navbar">
            <div class="container">
                <a class="navbar-brand mynav" href="{% url 'home' %}">Spacer</a>
                <ul class="navbar-nav ml-auto">
                    {% if user.is_authenticated %}
                    <li class="nav-item"><a class="nav-link" href="{% url 'posts:create' %}">Post</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'groups:all' %}">Groups</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'groups:create' %}">Create Group</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'accounts:logout' %}">Log Out</a></li>
                    {% else %}
                    <li class="nav-item"><a href="{% url 'groups:all' %}" class="nav-link">Groups</a></li>
                    <li class="nav-item"><a href="{% url 'accounts:login' %}" class="nav-link">Log In</a></li>
                    <li class="nav-item"><a href="{% url 'accounts:signup' %}" class="nav-link">Sign Up</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>

        <div class="container-flex mycontent">
            {% block body_block %}

            {% endblock %}
        </div>

        
        <canvas id="canvas"></canvas>
        <script type="text/javascript" src="{% static 'Spacer/js/master.js' %}"></script>
    </body>

</html>