body{
    margin: 0;
    background-color: #0d0a0e;
    color: white;
}

.card{
    color: black;
    margin-bottom: 1em;
}
.group-list{
    color: black;
}

#canvas{
    overflow: hidden;
}

.blockquote-footer a.btn.btn-danger{
    position: absolute;
    right: 0;
}